* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #48556b;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

.words-container {
  margin-top: 24px;
  width: 100%;
}

.words-container .word {
  display: flex;
  justify-content: center;
}

.words-container .letter {
  width: 48px;
  height: 40px;
  border: 1px solid #a4aab6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.buttons-container {
  margin-top: 24px;
}

.buttons-container button {
  width: 112px;
  height: 30px;
  border-radius: 6px;
  background-color: #a4aab6;
  color: whitesmoke;
  font-weight: bolder;
}

.keypad-container {
  margin-top: 24px;
}

.keypad-container button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #a4aab6;
  color: whitesmoke;
  font-weight: bolder;
}
